<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <h1>send message</h1>
    <form method="POST" action="/new">
      <label for="name">Name:</label>
      <input type="text" name="name" id="name" />
      <br />
      <label for="message">Message:</label>
      <textarea name="message" id="message" rows="4" cols="50"></textarea>
      <br />
      <input type="submit" value="Send message" />
    </form>
    <a href="/">
      <span> back </span>
    </a>
  </body>
</html>
