<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <h1>Welcome to the Mini Message Board</h1>
    <p>This is a simple message board made with Node.js and Express.</p>
    <p>Here are the messages:</p>
    <ul>
      <% messages.forEach(message => { %>
      <li>
        <%= message.text %> - <%= message.user %> - <%=
        message.added.toLocaleString() %>
      </li>
      <% }) %>
    </ul>
    <a href="/new">
      <span> chat </span>
    </a>
  </body>
</html>
